.customSidebar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customSidebar a {
  text-decoration: none;
}

.customSidebar ul {
  list-style: none;
}

.customSidebar main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.5s;
  background-color: #f4f5f7;
  height: 100%;
}

.customSidebar .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 1rem;
  transition: 0.5s;
}

.customSidebar .headerToggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);
}

.customSidebar .sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 2;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--white-color);
  padding-top: 1rem;
  transition: 0.5s;
}

.customSidebar .icon {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
}

.customSidebar .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.customSidebar .navLogo,
.customSidebar .navLink {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.customSidebar .navLogo {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.customSidebar .navLogoIcon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.customSidebar .navLogoName {
  margin-left: -6px;
  color: var(--white-color);
}

.customSidebar .navLink {
  position: relative;
  color: var(--first-color-alt);
  transition: 0.5s;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.customSidebar .navLink:hover {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.customSidebar .navLinkIcon {
  color: var(--white-color);
  z-index: 4;
}

.customSidebar .navLinkName {
  color: #000;
  font-size: 14px;
}

.customSidebar .active {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.customSidebar .active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 3px;
  background-color: var(--white-color);
  transition: 0.5s;
}

.customSidebar .show {
  left: 0;
}

.customSidebar .spaceToggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

.customSidebar .content {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .customSidebar main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .customSidebar .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .customSidebar .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .customSidebar .show {
    width: calc(var(--header-height) + 156px);
  }

  .customSidebar .spaceToggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
